<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/*" href="favicon.webp">
</head>
<body>
    <header>
        <div class="container">
            <div class="brand">
                <img src="favicon.webp">
                Weatherups
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/other" class="active">Other</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>NOT AVAILABLE</h1>
        </div>
    </main>
</body>
</html>